.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    span {
    }

    .search {
      display: flex;
      align-items: center;
      input {
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    .user {
      display: flex;
      align-items: center;
      .userImageContainer {
        position: relative;
        height: 48px;
        width: 48px;
        .userImage {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      span {
      }
    }
  }
}
