.register{
    min-height: 100vh;
  background: rgb(193, 190, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    border-radius: 10px;

    .left {
      min-height: 600px;
      flex: 1;
      background-image: linear-gradient(
          rgba(39, 11, 96, 0.3),
          rgba(39, 11, 96, 0.7)
        ),
        url("https://images.pexels.com/photos/16958033/pexels-photo-16958033/free-photo-of-restaurant-man-people-woman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #f2f2f2;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      p {
      }
      span {
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: rgb(255, 255, 255, 0.6);
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      background: rgba(255, 255, 255, 0.5);
      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          background: transparent;
          border-bottom: 2px solid gray;
          padding: 20px 10px;
        }

        button {
          background-color: rgb(106, 99, 253);
          border: none;
          color: white;
          width: 80%;
          padding: 10px;
          font-weight: bold;
          font-size: 20px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: rgba(170, 165, 254, 0.8);
          }
        }
      }
    }
  }
}
