.leftBar {
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 50px);
  overflow: scroll;
  //hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.22);
  .container {
    padding: 20px;
    hr {
      margin: 20px 0;
      border: none;
      height: 0.5px;
      background-color: lightgray;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        color: gray;
        font-weight: bold;
        font-size: 12px;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        .userImageContainer {
          position: relative;
          height: 30px;
          width: 30px;
          .userImage {
            object-fit: cover;
            border-radius: 50%;
          }
        }

        span {
          font-size: 14px;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        .itemImageContainer {
          position: relative;
          height: 30px;
          width: 30px;
          .itemImage {
            object-fit: cover;
          }
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
